body{
    background-color: rgb(236, 186, 186);
    color: rgb(16, 16, 16);
    text-align: center;
    align-items: center;
    justify-items: center;
}

h1{
    text-shadow: 0px 0px 10px rgb(28, 27, 27);
    color: rgb(12, 11, 12);
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
div{
    height: 650px;
    width: 400px;   
    padding: 50px;
    margin: 200px auto;
    border-radius: 30px;
    border: 5px solid #e8d6e9;
    box-shadow: 0px 0px 20px rgb(218, 94, 234);
    background-color: plum;
}
label{
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
}
input{
    margin-top: 20px;
    padding: 10px;
    width: 120px;
    font-size: 16px;
    border: 1px solid #252627;
    border-radius:15px;  
    background-color: #e7e1e1;
}
button{
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #2c292b ;
    border-radius: 20px;
    color: rgb(20, 19, 19);
    background-color: rgb(238, 221, 221);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
p{
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    color: black;
}

button:hover{
    background-color: rgb(218, 94, 234);
    color: white;
}
